{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet", href="{% static 'corona_plots/css/uikit.min.css' %}"/>
    <script src="{% static 'corona_plots/js/uikit.min.js' %}"></script>
    <script src="{% static 'corona_plots/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'corona_plots/js/jquery-3.4.1.slim.min.js' %}"></script>
    {% if title %}
        <title>NCOV-19 Plots - {{ title }}</title>
    {% else %}
        <title>NCOV-19 Plots</title>
    {% endif %}
</head>
<body>
    
    <header>
        <nav>
          <div>
            <a href="{% url 'corona-plots-home' %}">NCOV-19 Plots</a>
            </div>
          </div>
        </nav>
      </header>
      {% block content %}{% endblock %}

</body>
</html>