{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet", href="{% static 'corona_plots/css/uikit.min.css' %}"/>
    <script src="{% static 'corona_plots/js/uikit.min.js' %}"></script>
    <script src="{% static 'corona_plots/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'corona_plots/js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'corona_plots/js/plotly-1.52.3.min.js' %}"></script>
    <title>NCOV-19 Plots</title>
</head>
<body>
    <div uk-height-viewport="expand: true" class="uk-background-secondary uk-dark uk-padding uk-panel">
    <header>
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-center uk-dark">
                <a href="{% url 'corona-plots-home' %}" class="uk-navbar-item uk-logo uk-dark">NCOV-19 Plots</a>
          </div>
        </nav>
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-center">
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
              <li>
              <a class="uk-active" href="#offcanvas-slide" uk-toggle>{{ title }}</a>
                <div id="offcanvas-slide" uk-offcanvas="flip: true">
                  <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-center">
                      {% for location in locations %}
                        {% if title == location %}
                          <li class="uk-active"><a href="{% url 'corona-plots-plots' %}?location={{ location }}">{{ location }}</a></li>
                        {% else %}
                          <li><a href="{% url 'corona-plots-plots' %}?location={{ location }}">{{ location }}</a></li>
                        {%endif%}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      {% block content %}
      {% endblock %}
      <div>
        <p><b>Johns Hopkins Visual Dashboard (desktop):</b><br>
        <a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" rel="nofollow">https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6</a>
        <br><br>
        <b>Johns Hopkins Visual Dashboard (mobile):</b><br>
        <a href="http://www.arcgis.com/apps/opsdashboard/index.html#/85320e2ea5424dfaaa75ae62e5c06e61" rel="nofollow">http://www.arcgis.com/apps/opsdashboard/index.html#/85320e2ea5424dfaaa75ae62e5c06e61</a>
        <br><br>
        <ul>
          <li>World Health Organization (WHO): <a href="https://www.who.int/" rel="nofollow">https://www.who.int/</a> <br></li>
          <li>DXY.cn. Pneumonia. 2020. <a href="http://3g.dxy.cn/newh5/view/pneumonia" rel="nofollow">http://3g.dxy.cn/newh5/view/pneumonia</a>.  <br></li>
          <li>BNO News: <a href="https://bnonews.com/index.php/2020/02/the-latest-coronavirus-cases/" rel="nofollow">https://bnonews.com/index.php/2020/02/the-latest-coronavirus-cases/</a>  <br></li>
          <li>National Health Commission of the People’s Republic of China (NHC):
          <a href="http://www.nhc.gov.cn/xcs/yqtb/list_gzbd.shtml" rel="nofollow">http://www.nhc.gov.cn/xcs/yqtb/list_gzbd.shtml</a> <br></li>
          <li>China CDC (CCDC): <a href="http://weekly.chinacdc.cn/news/TrackingtheEpidemic.htm" rel="nofollow">http://weekly.chinacdc.cn/news/TrackingtheEpidemic.htm</a> <br></li>
          <li>Hong Kong Department of Health: <a href="https://www.chp.gov.hk/en/features/102465.html" rel="nofollow">https://www.chp.gov.hk/en/features/102465.html</a> <br></li>
          <li>Macau Government: <a href="https://www.ssm.gov.mo/portal/" rel="nofollow">https://www.ssm.gov.mo/portal/</a> <br></li>
          <li>Taiwan CDC: <a href="https://sites.google.com/cdc.gov.tw/2019ncov/taiwan?authuser=0" rel="nofollow">https://sites.google.com/cdc.gov.tw/2019ncov/taiwan?authuser=0</a> <br></li>
          <li>US CDC: <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" rel="nofollow">https://www.cdc.gov/coronavirus/2019-ncov/index.html</a> <br></li>
          <li>Government of Canada: <a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus.html" rel="nofollow">https://www.canada.ca/en/public-health/services/diseases/coronavirus.html</a> <br></li>
          <li>Australia Government Department of Health: <a href="https://www.health.gov.au/news/coronavirus-update-at-a-glance" rel="nofollow">https://www.health.gov.au/news/coronavirus-update-at-a-glance</a> <br></li>
          <li>European Centre for Disease Prevention and Control (ECDC): <a href="https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases" rel="nofollow">https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases</a></li>
          <li>Ministry of Health Singapore (MOH): <a href="https://www.moh.gov.sg/covid-19" rel="nofollow">https://www.moh.gov.sg/covid-19</a></li>
          <li>Italy Ministry of Health: <a href="http://www.salute.gov.it/nuovocoronavirus" rel="nofollow">http://www.salute.gov.it/nuovocoronavirus</a></li>
          </ul>
          <br>
      </div>
      </div>
</body>
</html>