{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet", href="{% static 'corona_plots/css/uikit.min.css' %}"/>
    <script src="{% static 'corona_plots/js/uikit.min.js' %}"></script>
    <script src="{% static 'corona_plots/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'corona_plots/js/jquery-3.4.1.slim.min.js' %}"></script>
    <title>NCOV-19 Plots</title>
</head>
<body>
    <div class="uk-background-secondary uk-dark uk-padding uk-panel">
    <header>
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-center uk-dark">
                <a href="{% url 'corona-plots-home' %}" class="uk-navbar-item uk-logo uk-dark">NCOV-19 Plots</a>
          </div>
        </nav>
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-center">
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
              <li>
              <a class="uk-active" href="#offcanvas-slide" uk-toggle>{{ title }}</a>
                <div id="offcanvas-slide" uk-offcanvas="flip: true">
                  <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-center">
                      {% for location in locations %}
                        {% if title == location %}
                          <li class="uk-active"><a href="{% url 'corona-plots-plots' %}?location={{ location }}">{{ location }}</a></li>
                        {% else %}
                          <li><a href="{% url 'corona-plots-plots' %}?location={{ location }}">{{ location }}</a></li>
                        {%endif%}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      {% block content %}
      {% endblock %}
      </div>
</body>
</html>